venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
dist/
build/
*.egg-info/
.env
.env.local
.env.*.local
coverage
htmlcov/
.tox/
pytest_cache/
migrations/
staticfiles/
*md
*.pdf
*.docx
*.xlsx
docs/_build/